
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArticleLabel" translate="jhipsterApp.article.home.createOrEditLabel">Create or edit a Article</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="article.id" readonly>
        </div>

        <div class="form-group">
            <label translate="jhipsterApp.article.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="article.title">

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.article.subtitle" for="field_subtitle">Subtitle</label>
            <input type="text" class="form-control" name="subtitle" id="field_subtitle"
                    ng-model="article.subtitle">

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.article.path" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                    ng-model="article.path">

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.article.date" for="field_date">Date</label>
            <input type="datetime-local" class="form-control" name="date" id="field_date"
                    ng-model="article.date" ng-model-options="{timezone: 'UTC'}">

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
