
<div class="row container">
	<div class="jumbotron col-md-9">
	    <h2>{{article.title}}</h2>
	    <div ng-bind-html="article.longDescription"></div>
    </div>
    <div class="col-md-3">
		<div class="list-group">
			<div class="list-group-item active">
				<h4 class="list-group-item-heading">Derniers articles</h4>
				<div ng-repeat="(day, dayEvents) in articles | groupBy: 'date' | toArray:true">
					<p>{{dayEvents[0].date | date:'d MMMM'}}</p>
					<a style="display:block" href="/#/article/{{article.id}}" ng-repeat="article in dayEvents" class="list-group-item-text">{{article.title}}</a>
					<!--  Group name: {{ articles.article }}
					<p ng-repeat="article in articlesByDate" class="list-group-item-text">{{article.title}}</p>-->
				</div>
			</div>
		</div>
	</div>
</div>
